/* Pathfinder.css */

.queue-and-grid-container {
  display: flex;
  flex-direction: row; /* Ensures children (the grid and queue container) are laid out horizontally */
  width: 100%;
  justify-content: center;
  align-items: start; /* Aligns children at the start, allowing them to grow independently in height */
}

.queue-display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  max-height: 1080px;
  width: 300px;
}

.queue-display-container table {
  width: 100%;
  border-collapse: collapse;
}

.queue-display-container th, 
.queue-display-container td {
  width: 75px;
  padding: 3px;
  text-align: left;
}

.scrollable-body {
  overflow-y: scroll;
  max-height: 1050px;
}

.queue-display-container thead tr th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.button-container {
  display: grid;
  grid-gap: 1rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.grid-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  transition: border-color 0.3s, background-color 0.3s;

  &:hover {
    border-color: #d1d5db72;
    background-color: #f3f4f609;
  }
}